/* Periodic Table */
/* Karen Clark */
/* 2018-05-25 */
* {
    /* outline: dashed 1px red; */
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#container {
    background-color: lightgray;
    width: 990px;
    height: 560px;
    padding: 10px;
    margin: 3px;
    color: red;
}
#top-gutter {
    display: inline-block;
    height: 50px;
    width: 990px;
}
#left-gutter {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 380px;
}
#top-section {
    display: inline-block;
}
#bottom-section {
    display: inline-block;
    height: 150px;
}
#side-info {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 0px 0px 20px 18px;
    margin-left: 5px;
    margin-top: 30px;
}
#side-info p {
    margin: 0px 0px 15px;
}
#side-info span {
    margin: 15px 0px 15px 15px;
}
h5 {
    font-weight: lighter;
    padding: 2px;
}
h3 {
    font-size: 14px;
    padding: 1px 1px;
}
.cell {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 45px;
    height: 45px;
    margin: 2px 1px;
    color: darkblue;  
}
#blue {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    width: 105px;
    height: 360px;
}
#pink {
    display: inline-block;
    margin-top: 100px;
    width: 520px;
    height: 217px;
}
#yellow {
    display: inline-block;
    margin-left: 0px;
    width: 330px;
    height: 360px;
}
#green {
    display: inline-block;
    vertical-align: top;
    width: 750px;
}
div#blue .cell {
    background-color: cornflowerblue;
}
div#pink .cell {
    background-color: salmon;
}
div#yellow .cell {
    background-color: gold;
}
div#green .cell {
    background-color: limegreen;
}