.header, .wrapper, .footer {
    max-width: 1050px;
    font-family: Tahoma, Geneva, sans-serif;
}
.header, .footer {
    background: linear-gradient(lightgrey, white);
}
#right-align {
    text-align: right;
}
.footer {
    text-align: center;
    margin: 0;
}
.logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0 2px;
}
.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-gap: 30px;
    background: radial-gradient(#6F5661, #131519);
    padding: 10px;
}
#grid-content {
    background: linear-gradient(to right, white, #b8bac6);
}
#grid-content > p {
    text-align: justify;
    margin: 10px;
}
.grid-item-1 {
    grid-column: 1; 
    grid-row: 1;
}
.grid-item-1 > img {
    border-style: solid;
    border-color: lightgrey;
    border-width: 3px;
    width: 100%;
    height: auto;
}
.grid-item-2 {
    grid-column: 2 / span 3; 
    grid-row: 1; 
}
.grid-item-3 {
    grid-column: 1; 
    grid-row: 2;
}
.grid-item-4 {
    grid-column: 2; 
    grid-row: 2; 
}
.grid-item-5 {
    grid-column: 3; 
    grid-row: 2;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    padding: 5px 10px;
}
h2 {
    background: linear-gradient( darkgrey, grey, lightgrey);
    color: white;
    text-align: 5px;
    margin: 0;
    padding: 10px;
}
