
/* Assignment: Python */
/* Karen Clark */
/* 2018-05-09 */

* {
    outline: dashed 1px red;
}
.wrapper {
    width: 970px;
    margin: 0px auto;
    background-color: #4584b6; /* Python Blue */
}
header {
    width: 950px;
    margin: 5px 5px 0px 5px;
}
    header img {
        width: 350px;
        height: 100px;
        margin: 0 0 20px 0;
    }
    header div a {
        color: #ffde57; /* Python Yellow */
    }
    .RDiv {
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        margin-left: 500px;
        border-radius: 8px;
        color: white;
    }
    .RDiv .button-container {
        background-color:#646464; /* Python Grey */
        color: grey;
    }
    header span {
        color: black;
    }
    header button {
        background-color: #4584b6; 
        border: 2px solid lightgrey;
        color: white;
        font-size: 16px;
}
    nav ul {
        background-color:#5caff2; 
        color: white;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        border-radius: 4px;
        margin-left: 50px;
        box-shadow: 2px 2px darkslategray;
    }
        nav ul li {
            display: inline-block;
            padding: 0px 8px 0px 15px;
            font-size: 24px;
            margin: 9px 0;
        }
main {
    width: 770px;
    margin: 0px auto;
}
    main ul {
        display: inline-block;
    }
        main ul li {
            text-align: center;
            color: white;
            list-style: none;
        }
            main ul li span {
                color: gold;
                font-size: 16pt;
            }